### MARKDOWN SNIPPETS ###

# Add your custom snippets below
# Use <leader>as to edit this file quickly

snippet triangle "Triangle diagram"
	
	               ${1:TOP LINE 1}
	               ${2:TOP LINE 2}
	
	                  /\
	                 /  \
	                /    \
	               /      \
	              /        \
	             /__________\
	
	     ${3:LEFT LINE 1}        ${5:RIGHT LINE 1}
	      ${4:LEFT LINE 2}       ${6:RIGHT LINE 2}
#
